@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Contenido-principal{
    width: 100%;
}

.parte-superior{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    gap: 40px;
}

.TextoPri h1 {
  font-family: 'Roboto';
  text-align: center;
  font-size: 3.0em;
  color: #1e293b;
}

.imagenPri{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px){
    .parte-superior{
        flex-direction: column;
        text-align: center;
    }

    .imagenPri img{
        max-width: 100%;
    }
}

.texto-galeria{
    text-align: center;
    padding: 40px 30px 10px;
}

.texto-galeria h2{
    font-size: 2em;
    text-align: left;
    font-family: 'Roboto';
    color: #1e293b;
    margin-bottom: 10px;
}

.texto-galeria p{
    font-size: 1.1em;
    color:#475569;
}

.imagenes-fondo{
    background-color:#fff799 ;
    padding: 40px 30px;
}

.imagenes-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.imagenes-galeria img{
    width:200px;
    border-radius: 10px;
    border: 2px solid #99A1FF;
    transition: transform 0.3s;
}

.imagenes-fondo img:hover{
  transform:scale(1.05);
}