@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('../img/cieloazul.jpg');
}

main{
    width: 100%;
    font-family: "Roboto";
}

.Panel{
    width: 100%;
    padding: 15px;
}

.Panel u{
    color: #e69138;
}

.Cuerpo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.imagen img{
    width: 20vw;
    height: auto;
    border-radius: 20px;
}

.Cuerpo .texto{
    width: clamp(38vw, 80vw, 450px);
    height: auto;
    padding: 30px;
    font-size: clamp(10.5px, 1.5vw, 17px);
}

.texto h1 {
    text-align: center;
    margin-bottom: 15px;
}